<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.harvey.alfredapp.vsc</string>
	<key>connections</key>
	<dict>
		<key>093E8D8D-AA10-46AC-BE78-76A5D4A82B48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9765F2F-E1E3-494C-81A5-3A4F41707A72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8834DFC3-808C-4423-A9EC-8D7B94F61590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>885A5091-9940-4437-8192-C6754A2CE10B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2682452D-CE3B-4244-8F38-447B6050507B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E6641F6B-7713-42E4-B1E7-15C7BBF0651F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>83B4A586-5F36-4D05-906F-3F1DA46C0428</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>885A5091-9940-4437-8192-C6754A2CE10B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E6F4EEA-B7FA-45FE-9062-3779680F6F74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E6F4EEA-B7FA-45FE-9062-3779680F6F74</key>
		<array/>
		<key>E6641F6B-7713-42E4-B1E7-15C7BBF0651F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E6F4EEA-B7FA-45FE-9062-3779680F6F74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9765F2F-E1E3-494C-81A5-3A4F41707A72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8834DFC3-808C-4423-A9EC-8D7B94F61590</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB22746E-5A56-4316-999C-68D172F71639</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DB7B2E5-9BD3-4652-819B-293D4F03C795</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>214442BD-7743-47DD-9FFC-F4C8F4D4CB36</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Delete this item in records.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E31A4D5C-24E1-477A-9DFB-266646FADB99</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open with Trae</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCBD53E6-AA6A-4F61-AF65-BF28FCEDC15A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB22746E-5A56-4316-999C-68D172F71639</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harvey Zhang</string>
	<key>description</key>
	<string>Open the most recently used project with vscode</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>vsc</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$VSC_OPEN_DEFAULT "$(echo "$1" | sed 's|^file://||')"
/usr/bin/python3 cli.py selected --record="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1DB7B2E5-9BD3-4652-819B-293D4F03C795</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FCBD53E6-AA6A-4F61-AF65-BF28FCEDC15A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vsc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>/usr/bin/python3 vsc.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Update available: 1.1.0 → 0.1.10. Run `npm install -g vsc`</string>
				<key>title</key>
				<string>打开最近项目</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FB22746E-5A56-4316-999C-68D172F71639</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 cli.py delete --record="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>214442BD-7743-47DD-9FFC-F4C8F4D4CB36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$VSC_OPEN_WITH_CMD "$(echo "$1" | sed 's|^file://||')"
/usr/bin/python3 cli.py selected --record="$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E31A4D5C-24E1-477A-9DFB-266646FADB99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"rebuild index","arg":"rebuild","subtitle":"重建索引"},{"title":"completely rebuild index","arg":"rebuild --drop-all","subtitle":"完全重建索引，同时会清空曾经的删除记录"}]</string>
				<key>keyword</key>
				<string>vscli</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>093E8D8D-AA10-46AC-BE78-76A5D4A82B48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 cli.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9765F2F-E1E3-494C-81A5-3A4F41707A72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{var:notice_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E6F4EEA-B7FA-45FE-9062-3779680F6F74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>notice_title</key>
					<string>索引重建成功</string>
					<key>notive_id</key>
					<string>rebuild_index_success</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>885A5091-9940-4437-8192-C6754A2CE10B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>rebuild_index_success</string>
						<key>outputlabel</key>
						<string>索引重建成功</string>
						<key>uid</key>
						<string>2682452D-CE3B-4244-8F38-447B6050507B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>rebuild_index_fail</string>
						<key>outputlabel</key>
						<string>索引重建失败</string>
						<key>uid</key>
						<string>83B4A586-5F36-4D05-906F-3F1DA46C0428</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8834DFC3-808C-4423-A9EC-8D7B94F61590</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>notice_id</key>
					<string>rebuild_index_fail</string>
					<key>notice_title</key>
					<string>索引重建失败，请根据日志进行排查</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E6641F6B-7713-42E4-B1E7-15C7BBF0651F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>python 重构版</string>
	<key>uidata</key>
	<dict>
		<key>093E8D8D-AA10-46AC-BE78-76A5D4A82B48</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>1DB7B2E5-9BD3-4652-819B-293D4F03C795</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>214442BD-7743-47DD-9FFC-F4C8F4D4CB36</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>8834DFC3-808C-4423-A9EC-8D7B94F61590</key>
		<dict>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>885A5091-9940-4437-8192-C6754A2CE10B</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>9E6F4EEA-B7FA-45FE-9062-3779680F6F74</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>E31A4D5C-24E1-477A-9DFB-266646FADB99</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E6641F6B-7713-42E4-B1E7-15C7BBF0651F</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>E9765F2F-E1E3-494C-81A5-3A4F41707A72</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>FB22746E-5A56-4316-999C-68D172F71639</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>FCBD53E6-AA6A-4F61-AF65-BF28FCEDC15A</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>VSC_DIRECTORIES</key>
		<string>~/Code</string>
		<key>VSC_DIR_BAK____</key>
		<string></string>
		<key>VSC_OPEN_DEFAULT</key>
		<string>/Users/harvey/.antigravity/antigravity/bin/agy</string>
		<key>VSC_OPEN_WITH_CMD</key>
		<string></string>
	</dict>
	<key>version</key>
	<string>v2.0.0-beta</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
